@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

body{
    color:#fff;
    background-color: #e9ff99;
    background-image:-webkit-radial-gradient()
}